
/* ===== Tablets y móviles grandes (≤ 768px) ===== */
@media (max-width: 768px) {
        body {
        margin: 0 !important;
        padding: 10px !important;
    }

    main {
        text-align: center;
    }

    .container {
        width: 70%;
        padding: 7px;
    }

    .qr-type-content {
        margin: 0 0 10px 0;
    }

    .config-container,
    .qr-type-container {
        width: 70%;
        padding: 7px;
    }

    .tooltiptext {
        left: 50%;
        transform: translateX(-64%);
    }
}

/* ===== Móviles pequeños (≤ 480px) ===== */
@media (max-width: 480px) {
    body {
        margin: 0 !important;
        padding: 10px !important;
    }

    main {
        text-align: center;
    }

    .container {
        width: 100%;
        padding: 7px;
    }

    .qr-type-content {
        margin: 0 0 10px 0;
    }

    .config-container,
    .qr-type-container {
        width: 100%;
        padding: 7px;
    }

    .config-content {
        flex-direction: column;
    }

    .tooltiptext {
        left: 50%;
        transform: translateX(-64%);
    }
}

/* ===== Opcional: pantallas muy grandes (≥ 1440px) ===== */
@media (min-width: 1440px) {
    /* Ajustes para monitores grandes */
}
