* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    color: rgb(58, 59, 59);
    font-weight: 500;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
}

.button-gen,
.button-download,
.button-print {
    color: rgb(44, 44, 44);
    background-color: aliceblue;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-weight: 500;
    padding: 4px 8px;
}
.button-gen:hover,
.button-download:hover,
.button-print:hover {
    color: rgb(20, 20, 20);
    background-color: rgb(190, 212, 233);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.button-download,
.button-print {
    margin-top: 10px;
}

.button-gen {
    width: 120px;
    margin: auto;
}


/* ======= INTRODUCCIÓN DE INPUT ======= */
.qr-type-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: rgb(223, 233, 241);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-top: 45px;
    padding: 25px;
}

.qr-type-content {
    margin: 20px 0 10px 0;
}

.qr-type-content label {
    margin-right: 15px;
    margin-bottom: 2px;
}

/* ======= QR STANDAR */
.qr-text {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/* ======= QR WIFI */
.qr-wifi {
    padding: 4px;
    width: 49%;
    box-sizing: border-box;
}

/* ======= QR VCARD */
.qr-vcard {
    display: flex;
    flex-direction: column;
}

.qr-vcard input {
    padding: 4px;
}

.qr-vcard-fullname {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

#vcard-name,
#vcard-lastname,
#vcard-phone {
    width: 50%;
}

#vcard-phone {
    width: 100%;
}

/* ======= SOCIAL QR */
.social-opt-content {
    margin: 4px 0;
}

/* ======= QR */
#qrcode,
.qr-content {
    transition: 
        opacity 0.5s ease-in-out, /* para mostrar/ocultar */
        transform 0.3s ease,      /* para hover */
        filter 0.3s ease;         /* para hover */
}

#qrcode {
    opacity: 0;
}

#qrcode.visible {
    opacity: 1;
}

.qr-content {
    min-height: 210px;
    margin-bottom: 15px;
}

.qr-content p {
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}

#qrcode:hover,
.qr-content:hover {
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    transform: scale(1.01);
}

#qr-text {
    width: 240px;
    padding: 4px;
    margin-top: 25px;
    margin-bottom: 30px;
}

/* ===== contenedor de botones de descarga e impresion */
.qr-buttons-container {
    display: flex;
    gap: 20px;
}



/* ======= CONTENEDOR GENERAL DE QR Y CONFIGURACIÓN ======= */
.fullscreen-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 20px;

    /* transición */
    opacity: 0;
    pointer-events: none;       /* no permite clic cuando está invisible */
    transition: opacity 0.3s ease;
}

/* clase que activa la visibilidad */
.fullscreen-container.active {
    opacity: 1;
    pointer-events: auto;
}

.fullscreen-close {
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: .5;
    z-index: 999;
}
.fullscreen-close:hover {
    color: rgb(190, 212, 233);
}


/* ======= CONFIGURACIÓN ======= */
.qr-container,
.config-container {
    width: 90%;
    background-color: rgb(223, 233, 241);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.qr-container {
    min-height: 410px;
    margin: auto;
}

.config-container {
    margin-left: auto;
    /*justify-self: end;      /* pegado a la derecha */
    max-height: 100vh;       /* que no se pase de la pantalla */
    overflow-y: auto;       /* scroll vertical */
    overflow-x: hidden;     
}

.config-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 10px;
}

.config-group-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config-group-container h3 {
    font-size: 1.4rem;
    color: rgb(98, 163, 238);
}

.config-group-content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.config-custom-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 10px;
}

.config-custom-disabled {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.config-custom-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.config-custom-container legend {
    font-size: 1.1rem;
    font-weight: 500;
}

.config-custom-content label {
    width: 100%;
    display: flex;
}
.config-custom-text {
    margin-right: auto;
}

.config-custom-content input {
    cursor: pointer;
}

.config-custom-content input:disabled {
    cursor: default;
}


/* ======= Dimensiones */
#size {
    width: 100px;
    margin-top: 10px;
    padding: 3px;
}

.tooltip-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    background: #006deb;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.651);
    border-radius: 50%;
    font-size: .8rem;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1;
    margin-top: 9px;
}

.tooltiptext {
    width: 300px;
    position: absolute;
    font-size: 1rem;
    padding: 3px;
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
    border-radius: 4px;

    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    visibility: hidden; /* oculto */
    transition: opacity 0.3s;
    z-index: 10;
}

/* Mostrar tooltip al pasar el mouse sobre el ? */
.tooltip-wrapper:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

/* ======= Agregar logo */
#qr-logo {
    margin-left: 5px;
}

.logo-upload {
    display: none;
}

/* subir archivo personalizado  */
.file-wrapper {
    display: flex;
    flex-direction: column; /* pone el span debajo */
    align-items: center; /* opcional, alinea a la izquierda */
    margin-top: 21px;
    gap: 5px;
}

.custom-file-button,
.custom-delete-button {
    color: white;
    padding: 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.custom-file-button {
    background-color: rgb(0, 123, 255);
    margin-top: 14px;
}
.custom-file-button:hover {
    background-color: rgb(16, 101, 192);
}

.custom-delete-button {
    visibility: hidden;
    background-color: rgb(211, 5, 5);
}
.custom-delete-button:hover {
    background-color: rgb(168, 18, 18);
}

.custom-file-button input[type="file"] {
    display: none; /* ocultamos el input original */
}
