* {
    margin: 0;
    padding: 0;
}

/* MODO CLARO */
:root {
    --bg-body: rgb(204, 226, 235);

    /* buttons */
    --bg-button:  aliceblue;
    --bg-button-hover: rgb(190, 212, 233);
    --border-button: rgb(0, 0, 0);
    --border-button-hover: rgba(0, 0, 0, 0.5);

    /* containers */
    --bg-container: rgb(223, 233, 241);
    --border-container: rgba(0, 0, 0, 0.8);

    /* contents */
    --bg-content: rgb(231, 244, 255);
    --border-content: rgba(0, 0, 0, 0.5);

    /* small contents */
    --bg-small-content: rgb(221, 235, 247);

    /* texts */
    --title-color-container:rgb(58, 59, 59); /* títulos de los containers */
    --title-color-content: rgb(98, 163, 238); /* títulos de cada content */
    --title-option: black; /* título de cada opción de configuración */
    --text-color: black;
}

.body {
    background-color: var(--bg-body);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
}

h1, h2 {
    color: var(--title-color-container);
    font-weight: 500;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
    color: var(--title-color-content);
}


input {
    cursor: pointer;
    padding: 4px;
}

input:disabled {
    cursor: default;
}

.text {
    color: var(--text-color);
}

.button-gen,
.button-utility {
    color: rgb(44, 44, 44);
    background-color: var(--bg-button);
    border: 1px solid var(--border-button);
    border-radius: 4px;
    font-weight: 500;
    padding: 4px 8px;
}
.button-gen:hover,
.button-utility:hover {
    color: rgb(20, 20, 20);
    background-color: var(--bg-button-hover);
    border: 1px solid var(--border-button-hover);
}

.button-utility {
    margin-top: 10px;
}

.button-gen {
    width: 120px;
    margin: auto;
}

button:disabled,
input:disabled {
    opacity: 0.5;      /* para que se vea inactivo */
    pointer-events: none;  /* bloquea clicks y hover */
    cursor: default;       /* cursor normal */
}

/* ======= INTRODUCCIÓN DE INPUT ======= */
.qr-type-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: var(--bg-container);
    border: 1px solid var(--border-container);
    border-radius: 5px;
    margin-top: 45px;
    padding: 25px;
}

/* ======= QR */
#qr-code,
.qr-content {
    transition: 
        opacity 0.5s ease-in-out, /* para mostrar/ocultar */
        transform 0.3s ease,      /* para hover */
        filter 0.3s ease;         /* para hover */
}

#qr-code {
    opacity: 0;
}

#qr-code.visible {
    opacity: 1;
}

.qr-content {
    min-height: 210px;
    margin-bottom: 15px;
}

.qr-content p {
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}

#qr-code:hover,
.qr-content:hover {
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    transform: scale(1.01);
}


/* ======= CONTENEDOR GENERAL DE QR Y CONFIGURACIÓN ======= */
.fullscreen-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 20px;

    /* transición */
    opacity: 0;
    pointer-events: none;       /* no permite clic cuando está invisible */
    transition: opacity 0.3s ease;
}

/* clase que activa la visibilidad */
.fullscreen-container.active {
    opacity: 1;
    pointer-events: auto;
}

/* X para cerrar el div */
.fullscreen-close {
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: .5;
    z-index: 999;
}
.fullscreen-close:hover {
    color: rgb(190, 212, 233);
}


/* ======= CONFIGURACIÓN ======= */
.qr-container,
.config-container {
    width: 96%;
    background-color: var(--bg-container);
    border: 1px solid var(--border-container);
    border-radius: 5px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.qr-container {
    min-height: 410px;
    margin: auto;
}

.config-container {
    margin-left: auto;
    max-height: 100vh;       /* que no se pase de la pantalla */
    overflow-y: auto;       /* scroll vertical */
    overflow-x: hidden;     
}

.config-group-content {
    display: flex;
    align-items: center; /* ------------------------- */
    justify-content: center;
    flex-wrap: wrap;         
    gap: 1rem;     
}

.config-custom-container {
    width: 31%;
    min-height: 140px;
    flex-direction: column;
    background-color: var(--bg-container);
    border: 1px solid var(--border-content);
    border-radius: 5px;
    margin-bottom: auto;
    padding: 10px;
    box-sizing: border-box;
}

.config-custom-disabled {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.config-custom-title {
    color: var(--title-option);
    font-size: 1.1rem;
    font-weight: 500;
}

.config-custom-gradient {
    background-color: var(--bg-small-content);
    border: 1px solid var(--border-content);
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
}

.color-gradient-reset {
    background-color: var(--bg-button);
    border: 1px solid var(--border-button);
    padding: 0 6px;
    border-radius: 3px;
    margin-top: 5px;
}
.color-gradient-reset:hover {
    background-color: var(--bg-button-hover);
    border: 1px solid var(--border-button-hover);
}

/* ======= Dimensiones */
.tooltip-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    background: #006deb;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.651);
    border-radius: 50%;
    font-size: .8rem;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1;
    margin-top: 9px;
}

.tooltiptext {
    width: 300px;
    position: absolute;
    font-size: 1rem;
    padding: 3px;
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
    border-radius: 4px;

    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    visibility: hidden; /* oculto */
    transition: opacity 0.3s;
    z-index: 10;
}

/* Mostrar tooltip al pasar el mouse sobre el ? */
.tooltip-wrapper:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}


/* subir archivo personalizado  */
.file-wrapper {
    display: flex;
    flex-direction: column; /* pone el span debajo */
    align-items: center; /* opcional, alinea a la izquierda */
    margin-top: 21px;
    gap: 5px;
}

.custom-file-button,
.custom-delete-button {
    padding: 2px 8px;
    border: 1px solid var(--border-button);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.custom-file-button {
    background-color: var(--bg-button);
}
.custom-file-button:hover {
    background-color: var(--bg-button-hover);
}

.custom-delete-button {
    color: white;
    /*visibility: hidden;*/
    background-color: rgb(211, 5, 5);
}
.custom-delete-button:hover {
    background-color: rgb(168, 18, 18);
}

.custom-file-button input[type="file"] {
    display: none; /* ocultamos el input original */
}