* {
    margin: 0;
    padding: 0;
}

/* ======= MODO CLARO ======= */
:root {
    --bg-body: rgb(204, 226, 235);

    /* buttons */
    --bg-button:  aliceblue;
    --bg-button-hover: rgb(190, 212, 233);
    --color-button: rgb(44, 44, 44);
    --border-button: rgb(0, 0, 0);
    --border-button-hover: rgba(0, 0, 0, 0.5);

    /* containers */
    --bg-container: rgb(223, 233, 241);
    --border-container: rgba(0, 0, 0, 0.8);

    /* contents */
    --bg-content: rgb(231, 244, 255);
    --border-content: rgba(0, 0, 0, 0.5);

    /* small contents */
    --bg-small-content: rgb(221, 235, 247);

    /* texts */
    --title-color-container:rgb(58, 59, 59); /* títulos de los containers */
    --title-color-content: rgb(98, 163, 238); /* títulos de cada content */
    --title-option: black; /* título de cada opción de configuración */
    --text-color: black;

    /* inputs */
    --bg-input: rgb(231, 244, 255);
    --color-input: rgb(0, 0, 0);
    --color-placeholder: rgba(0, 0, 0, 0.5);
    --border-input: rgba(0, 0, 0, 0.5);

    /* select */
    --bg-select: aliceblue;
    --color-select: rgb(44, 44, 44);
    --border-select: rgb(44, 44, 44);

    /* fullscreen-close */
    --color-fullscreen-close: white;
    --color-fullscreen-close-hover: rgb(190, 212, 233);

    /* share */
    --bg-share:  aliceblue;
    --shadow-share: rgba(0,0,0,0.25);
    --color-share-title:  rgb(44, 44, 44);
    --close-share: rgb(44, 44, 44);
    --border-share: rgb(0, 0, 0);
}

/* ======= MODO OSCURO ======= */
body.dark-mode {
    --bg-body: #121212;

    /* buttons */
    --bg-button: #1e1e1e;
    --bg-button-hover: #2c2c2c;
    --color-button: aliceblue;
    --border-button: aliceblue;
    --border-button-hover: #888;

    /* containers */
    --bg-container: rgb(26, 26, 26);
    --border-container: rgb(51, 51, 51);

    /* contents */
    --bg-content: #222;
    --border-content: #444;

    /* small contents */
    --bg-small-content: #2a2a2a;

    /* texts */
    --title-color-container: aliceblue;
    --title-color-content: #6ea6ff;
    --title-option: aliceblue;
    --text-color: aliceblue;

    /* inputs */
    --bg-input: rgb(71, 71, 71);
    --color-input: aliceblue;
    --color-placeholder: rgba(240, 248, 255, 0.55);
    --border-input: rgba(240, 248, 255, 0.5);

    /* select */
    --bg-select: rgb(51, 51, 51);
    --color-select: aliceblue;
    --border-select: rgba(240, 248, 255, 0.5);

    /* share */
    --bg-share:  rgb(36, 36, 36);
    --shadow-share: rgba(240,248,255,0.25);
    --color-share-title:  aliceblue;
    --close-share: aliceblue;
    --border-share: rgba(240, 248, 255, 0.3);
}


.body {
    background-color: var(--bg-body);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px 10px 0 10px;
    box-sizing: border-box;
}

.title-h1, 
.title-h2 {
    color: var(--title-color-container);
    font-weight: 500;
}

.title-h1 {
    font-size: 2.2rem;
    text-align: center;
}

.title-h2 {
    font-size: 1.8rem;
}

.title-h3 {
    font-size: 1.4rem;
    color: var(--title-color-content);
    text-align: center;
}

input {
    background-color: var(--bg-input);
    color: var(--color-input);
    cursor: pointer;
    padding: 4px;
    border: 1px solid var(--border-input);
    border-radius: 4px;
}

input::placeholder {
    color: var(--color-placeholder);
}

input:disabled {
    cursor: default;
}

input[type="color"] {
    width: 36px;
    height: 22px;
}

input[type="number"] {
    width: 54px;
    height: 26px;
}

select {
    background-color: var(--bg-select);
    color: var(--color-select);
    border: 1px solid var(--border-select);
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

.text {
    color: var(--text-color);
}


.buttons-utilities-container {
    display: flex;
    gap: 25px;
}

.button-gen,
.button-utility {
    color: var(--color-button);
    background-color: var(--bg-button);
    border: 1px solid var(--border-button);
    border-radius: 4px;
    font-weight: 500;
    padding: 4px 8px;
}
.button-gen:hover,
.button-utility:hover {
    background-color: var(--bg-button-hover);
    border: 1px solid var(--border-button-hover);
}

.button-utility {
    margin-top: 10px;
}

.button-gen {
    width: 120px;
    margin: auto;
}

button:disabled,
input:disabled {
    opacity: 0.5;      /* para que se vea inactivo */
    pointer-events: none;  /* bloquea clicks y hover */
    cursor: default;       /* cursor normal */
}

/* ======= INTRODUCCIÓN DE INPUT ======= */
.qr-type-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: var(--bg-container);
    border: 1px solid var(--border-container);
    border-radius: 5px;
    margin-top: 45px;
    padding: 25px;
}

/* ======= QR */
#qr-code,
.qr-content {
    transition: 
        opacity 0.5s ease-in-out, /* para mostrar/ocultar */
        transform 0.3s ease,      /* para hover */
        filter 0.3s ease;         /* para hover */
}

#qr-code {
    opacity: 0;
}

#qr-code.visible {
    opacity: 1;
}

.qr-content {
    min-height: 210px;
    margin-bottom: 15px;
}

.qr-content p {
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}

#qr-code:hover,
.qr-content:hover {
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    transform: scale(1.01);
}

.qr-type-radio-container {
    display: flex;
    gap: 20px;
}


/* ======= CONTENEDOR GENERAL DE QR Y CONFIGURACIÓN ======= */
.fullscreen-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 20px;

    /* transición */
    opacity: 0;
    pointer-events: none;       /* no permite clic cuando está invisible */
    transition: opacity 0.3s ease;
}

/* clase que activa la visibilidad */
.fullscreen-container.active {
    opacity: 1;
    pointer-events: auto;
}

/* X para cerrar el div */
.fullscreen-close {
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    color: var(--color-fullscreen-close);
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: .5;
    z-index: 999;
}
.fullscreen-close:hover {
    color: var(--color-fullscreen-close-hover);
}


/* ======= CONFIGURACIÓN ======= */
.qr-container,
.config-container {
    width: 98%;
    background-color: var(--bg-container);
    border: 1px solid var(--border-container);
    border-radius: 5px;
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.qr-container {
    min-height: 410px;
    margin: auto;
}

.qr-container canvas,
.qr-container img {
  max-width: 350px;   /* o el tamaño fijo que quieras mostrar */
  height: auto;   /* mantiene la proporción */
  /*max-width: 100%;*/
}

.config-container {
    margin-left: auto;
    max-height: 100vh;       /* que no se pase de la pantalla */
    overflow-y: auto;       /* scroll vertical */
    overflow-x: hidden;     
}

/* no se usa boostrap para poder usarlo en responsive */
.config-content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    padding: 0 10px;
}

.config-group-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;     
}


.config-custom-container {
    /*width: 31%;*/
    width: 100%;
    min-height: 140px;
    flex-direction: column;
    background-color: var(--bg-container);
    border: 1px solid var(--border-content);
    border-radius: 5px;
    margin-bottom: auto;
    padding: 10px;
    box-sizing: border-box;
}

.config-custom-disabled {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.config-custom-title {
    color: var(--title-option);
    font-size: 1.1rem;
    font-weight: 500;
}

.config-custom-gradient {
    background-color: var(--bg-small-content);
    border: 1px solid var(--border-content);
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
}

.color-gradient-reset {
    background-color: var(--bg-button);
    color: var(--color-button);
    border: 1px solid var(--border-button);
    padding: 2px 8px;
    border-radius: 3px;
    margin-top: 5px;
}
.color-gradient-reset:hover {
    background-color: var(--bg-button-hover);
    border: 1px solid var(--border-button-hover);
}

/* ======= Dimensiones */
.tooltip-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    background: #006deb;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.651);
    border-radius: 50%;
    font-size: .8rem;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1;
    margin-top: 9px;
}

.tooltiptext {
    width: 300px;
    position: absolute;
    font-size: 1rem;
    padding: 3px;
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
    border-radius: 4px;

    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    visibility: hidden; /* oculto */
    transition: opacity 0.3s;
    z-index: 10;
}

/* Mostrar tooltip al pasar el mouse sobre el ? */
.tooltip-wrapper:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}


/* subir archivo personalizado  */
.file-wrapper {
    display: flex;
    flex-direction: column; /* pone el span debajo */
    align-items: center; /* opcional, alinea a la izquierda */
    margin-top: 21px;
    gap: 5px;
}

.custom-file-button,
.custom-delete-button {
    color: var(--color-button);
    padding: 2px 8px;
    border: 1px solid var(--border-button);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.custom-file-button {
    background-color: var(--bg-button);
}
.custom-file-button:hover {
    background-color: var(--bg-button-hover);
}

.custom-delete-button {
    display: none;
    color: white;
    background-color: rgb(211, 5, 5);
}
.custom-delete-button:hover {
    background-color: rgb(168, 18, 18);
}

.custom-file-button input[type="file"] {
    display: none; /* ocultamos el input original */
}


/* CÁMARA */
.cam-button {
    display: none;
    background-color: rgb(94, 128, 221);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 20;

    /* transición */
    opacity: 0;
    pointer-events: none;     
    transition: opacity 0.5s ease;
}

.cam-button {
    opacity: 1;
    pointer-events: auto
}

.cam-button img {
    width: 26px;
}

.cam-container {
    position: fixed;
    bottom: -100%;        /* arranca escondido */
    left: 50%;            /* lo posiciono desde el centro */
    transform: translateX(-50%); /* lo corro para centrarlo */
    
    width: 90%;           /* ancho relativo a la pantalla */
    max-width: 400px;     /* límite máximo */
    height: auto;

    background: #fff;
    border-radius: 12px;
    box-shadow: 0 -4px 15px rgba(0,0,0,0.25);

    padding: 15px;
    transition: bottom 0.3s ease;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.cam-container.active {
  bottom: 10px; /* sube y queda separado un poquito del borde inferior */
}



/* ======= BOTON DE MODO OSCURO ======= */
#theme-toggle {
    border: none;
    z-index: 9999;
}
.icon {
    width: 24px;
    height: 24px;
    stroke-width: 2;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute; /* para que sol y luna se superpongan */
    top: 14px;
    right: 21px;
}

#icon-sun {
    opacity: 1;
    transform: rotate(0deg);
}

#icon-moon {
    color: aliceblue;
    opacity: 0;
    transform: rotate(90deg);
}

body.dark-mode #icon-sun {
    opacity: 0;
    transform: rotate(-90deg);
}

body.dark-mode #icon-moon {
    opacity: 1;
    transform: rotate(0deg);
}


/* ======= BOTON DE COMPARTIR ======= */
.share-menu {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: var(--bg-share);
    border: 1px solid var(--border-share);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 6px 20px var(--shadow-share);
    z-index: 9999;
    animation: fadeIn 0.3s ease-in-out;
    width: 260px;
}

.share-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.color-text-share {
    color: var(--color-share-title);
}

.close-share {
    color: var(--close-share);
    background: none;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1;
}

.share-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.share-icons a img {
    width: 32px;
    height: 32px;
    transition: transform 0.2s;
    cursor: pointer;
}

.share-icons a img:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(20px); }
}

.share-menu.hide {
    animation: fadeOut 0.3s ease-in-out forwards;
}